<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
        <title>HOME</title>
        <!-- -->
</head>

<body style=" margin-top: 5rem; height: 100%; width:100%; background: #FFF url('home.png') no-repeat; background-size: cover; background-attachment: fixed; background-position: center center;">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Search Movie</a>
        </nav>
    </header>

    <main role="main">
        <div class="cnotainer">
            <div class="row" style="margin-top:20vh; margin-bottom:20vh;">
                <div class="col-12 d-flex justify-content-center">
                    <h1 style="color:white;">Let's discover some movies!!</h1>
                </div>

                <div class="col-12 d-flex justify-content-center">
                    <h4 style="color:white;">Movie industry has become the largest industry and earns enormous amounts of money. <br> People are more interested in movies and searching more about the information of movies on the internet to support their decision making.</h4>
                </div>

                <div class="col-12 d-flex justify-content-center" name="login">
                    <a href="/login"><button type="button" class="btn btn-secondary" style="width: 100px;">Login</button></a>
                </div>
            </div>
    </main>

    <footer></footer>
    <%- include('../partials/bootstrap'); -%>
</body>

</html>