<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
        <title>Search</title>
</head>

<body style=" margin-top: 5rem; height: 100%; width:100%; background: #FFF url('search.jpg') no-repeat; background-size: cover; background-attachment: fixed; background-position: center center;">
    <header>
        <%- include('../partials/navbar'); -%>
    </header>
    <div class="row d-flex justify-content-center" style="width: 100%;">
        <form action="/search" method="POST" class="col-10">
            <!-- have text area -->
            <h1 style="color: white;">Movie name</h1>
            <div class="row">
                <div class="form-group col-8" style="opacity: 0.7;">
                    <input type="text" size="50" name="movie_name" class="form-control" id="input_movie_name" aria-describedby="emailHelp">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <!-- have select radio button for youtube, google, twitter, spotify -->
                <div class="form-check col-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>


    <%- include('../partials/bootstrap'); -%>
</body>

</html>